* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}


body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: ClarendonBTWXX-Light, Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    background-color: #ddd;
    background-image: url(/concrete.png);
    background-repeat: repeat;
}

a:not(.hash-link) {
    padding: 0;
    text-decoration: none;
    color: #1d70b8;
}


h1,
h2,
h3 {
    text-align: inherit;
}

.Clarendon-Heavy {
    font-family: ClarendonBTWXX-Heavy, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: normal;
}


h2>a {
    color: inherit;
    text-decoration: none;
}


h1 {
    font-size: 7vw;
    line-height: 6vw;
    margin-top: 20px;
    padding-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 4vw;
    margin: 0;
    margin-top: 20px;
    white-space: nowrap;
}

h3 {
    font-size: 2vw;
    font-family: ClarendonBTWXX-Roman, Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: normal;
    padding-left: 1vw;
}


@media (max-width: 700px) {
    .cont {
        margin-left: 0 !important;
        width: 100% !important;
    }

    section {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    h1 {
        font-size: 10vw;
        line-height: 10vw;
    }

    .title-cont .description {
        font-size: 100%!important;
    }

    h2 {
        font-size: 6vw;
        white-space: normal;
    }

    h3 {
        font-size: 5vw;
    }
}

@media(max-width:1100px) {
    /* h1 {
        font-size:300%;
    } */
}